/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/


body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background-size: cover;
}

.blog {
  background-color: #f0efef;
  width: 100vw;
}
/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

header {
  margin-top: -20px;
  margin-bottom: -20px;
}
a {
  text-decoration: none;
}

#container {
  width: 100vw;
  margin: auto;
  height: 101vh;
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: 100% 100%;

}
#container a {
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  text-decoration: none;
  color: #f9e42e;

}
.blog header {
  height: 80px;
  background-color: #033048;
}
.blog header h1 {
  float: left;
  margin-top: 30px;
  margin-left: 40px;
  padding: 0;
}
.blog header h1 a {
  text-decoration: none;
  color: #ffffff;
}
header h1 {
  color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  padding: 50px 0 20px 30px;
  margin-left: 30px;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
h2 {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
}
header button {
  display: flex;
  justify-content: center;
  margin: 80px auto 80px auto;
  align-item: center;
  color: #033048;
  background-color: #f9e42e;
  border: 0px;
  width: 150px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 0 10px 0;
}
.benefits {
  background-color: #f0efef;
  margin-bottom: 0;
  height: 350px;
}
h3 {
  color: #101038;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 20px auto 10px 30px;
  padding: 40px 0 10px 15px;
}
.benefits p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #7D7D7D;
  padding: 0 auto 50px 30px;
  width: 380px;
  margin-left: 55px;

}

.quote {
  background: url(../images/testimonial_bg.jpg);
  height: 250px;
}
blockquote p {
  font-family: "Open Sans", sans-serif;
  margin: 62.5px auto;
  font-style: italic;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
  width: 300px;
  text-align: center;
}
.amanda {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
}
blockquote {
  margin: -15px auto;
  display: flex;
  align-items: center;

}
.cta {
  background-color: #f9e42e;
  padding: 10px;
  clear: both;
}
.cta button {
  background-color: #033048;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 800;
  border: 0px;
  width: 180px;
  border-radius: 5.4px;
  padding: 10px 30px 10px 30px;
  display: flex;
  justify-content: center;
  margin: 15px auto 15px auto;
}




footer {
  background-color: #121212;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 9px;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #ffffff;
  margin: 0 auto;
}
footer .social img {
  height: 50px;
  padding: 15px;
}
footer > h1 {
  color:#f9e42e;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
footer p {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.social {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
}



header nav a {
  color: #f9e42e;
  padding: 15px;
}
header nav ul {
  float: right;
  display: inline;
  list-style-type: none;
}
header li {
  display: inline;
}
.blog ul {
  margin-top: 40px;
}
.content {
  float: left;
  width: 700px;
  margin: 80px 0 100px 100px;
}
.post img {
  width:100%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.post h3 {
  margin: 0;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 0;
 }
.post p {
  color: #121212;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
}
.post {
  padding-bottom: 50px;
  border-bottom: solid 1px #033048;
}
.post + .post {
  padding-top: 50px;
}
aside {
  width: 240px;
  float: left;
  margin: 50px 0 0 20px;
}
aside p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 22px;
}
aside h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 32px;
  padding: 0;
  margin: 0;
}
aside li {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  list-style-type: none;
  margin-left: -20px;
}
aside img {
  margin-top: 40px;
}
aside ul {
  margin-left: 0;
}
a .more {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #033048;
}
aside .more {
  font-size: 22px;
  padding: 0;
}
.post .more {
  font-size: 24px;
  padding: 40px 0 10px 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}




@media (max-width: 500px) {
  #container {
    height: 300px;
  }
  header h1 {

  }
  h2 {
    font-size: 20px;
  }
  header button {
    margin-top: 40px;
  }
  .benefits {
    height: 300px;
  }
  h3 {
    margin: 10px auto 10px 10px;
    padding: 20px 0 10px 15px;
  }
  .benefits p {
    font-size: 13px;
    padding: 0 0 10px 25px;
    width: 300px;
    margin-left: 15px;
  }
  ul {
  font-size: 12px;
  padding: 0 0 30px 30px;
  width: 250px;
  margin-left: 35px;
  }
}

@media (max-width: 1060px) {

}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/




